.App{
  background-color:black;
}

.Todo {
  text-align: center;
  font-size: calc(10px + 2vmin);
  min-height: 505px;
  padding: 10%;
  
}
.container{
  background-image: url(./logo.png);
  padding: 10%;
  
}

